body {
    font-family: sans-serif;
}

.container {
    width: 960px;
    display: block;
    margin: 0 auto;
}

/* Estilos do header */
#logo {
    width: 50%;
    display: block;
    float: left;
}

#logo img {
    width: 80px;
    float: left;
    display: block;
    margin-top: 15px;
}

#logo h1 {
    color: #7c7c7c;
    font-family: sans-serif;
    float: left;
    display: block;
    font-size: 26px;
    margin-top: 60px;
    margin-left: 10px;
}


#extras {
    width: 50%;
    float: left;
    display: block;
}

#extra-links {
    float: right;
    color: #7c7c7c;
    font-size: 12px;
}

#extra-links a {
    color: #7c7c7c;
    text-decoration: none;
}

#extra-links a:hover {
    color: #3c3c3c;
}

#extra-contact {
    clear: both;
    float: right;
    color: #069bbb;
    text-transform: lowercase; /*transforma as letras em caixa baixa */
    font-size: 11px;
    margin: 10px 0 0 0;
}

#extra-phone {
    clear: both;
    float: right;
    font-size: 18px;
    margin: 0;
}

#extra-phone img {
    float: left;
    width: 20px;
    margin-right: 10px;
}
/* Fim dos estilos do header */

/* Estilos do nav */
nav {
    clear: both;
    float: left;
    width: 100%;
    margin: 10px 0;
}

nav ul {
    list-style: none;
    height: 22px;
    margin: 0;
    padding: 5px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

nav ul li a {  
    color: #3c3c3c;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    border-right: 1px solid #c7c7c7;
    padding-right: 25px;
}

nav ul li:last-child a,
nav ul li.portfolio a {
    border: none;
}

nav ul li.active a {
    color: #069BBB;
}

nav ul li a:hover {
    color: #069BBB;
}

nav ul li.btn-blog a {
    color: #FFFFFF;
    padding: 5px 10px;
    background: #0680a7; /* Old browsers */
    background: -moz-linear-gradient(top, #0680a7 0%, #00a3c7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0680a7 0%,#00a3c7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0680a7 0%,#00a3c7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0680a7', endColorstr='#00a3c7',GradientType=0 ); /* IE6-9 */
    box-shadow: 2px 2px #7c7c7c;
}

nav ul li.btn-blog a:hover {
    background: #076B8C; /* Old browsers */
    background: -moz-linear-gradient(top, #076B8C 0%, #0680a7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #076B8C 0%,#0680a7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #076B8C 0%,#0680a7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#076B8C', endColorstr='#0680a7',GradientType=0 ); /* IE6-9 */
}

section#banner .image {
    margin-top: 15px;
    margin-bottom: 40px;
    position: relative; 
    width: 100%; /* for IE 6 */
    float: left;
}

section#banner .image img {
    width: 100%;
}

section#banner .image h2 { 
   position: absolute; 
   top: 240px; 
   left: 0; 
   width: 120px;
   padding: 10px 20px;
   color: #069BBB;
   background: #FFFFFFCC;
   text-transform: lowercase;
}

section#banner .image p { 
   position: absolute; 
   top: 300px; 
   left: 0; 
   width: 370px;
   padding: 10px 20px;
   color: #3c3c3c;
   background: #FFFFFFCC;
}

section#about-us {
    float: left;
    width: 100%;
}

section#about-us ul {
    list-style-image: url('../img/gt-icon.png');
    height: 22px;
    margin: 0;
    padding: 5px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

section#about-us ul li:first-child {
    color: #069BBB;
    font-size: 14px;
    padding-top: 3px;
    list-style: none;
}

section#about-us ul li a {
    color: #3c3c3c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

section#about-us ul li a:hover {
    color: #069BBB;
}

section#about-us .about-block {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    float: left;
    display: block;
}

section#about-us .about-block h3 {
    font-size: 14px;
    margin-bottom: 20px;
}

section#about-us .about-block img {
    float: left;
    display: block;
    width: 150px;
}

section#about-us .about-block p {
    float: left;
    display: block;
    width: 270px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    font-size: 12px;
}

section#about-us .about-block:last-child p {
    float: left;
    display: block;
    width: 290px;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
    font-size: 12px;
}

section#about-us .about-block p a {
    text-decoration: none;
    color: #069BBB;
}

section#about-us .about-block .read-more {
    text-align: right;
    margin-top: 30px;
}